<!-- home.html -->


{% extends "base.html" %}

{% load staticfiles %}

	{% block title %}
		Welcome to LandBnB
	{% endblock %}

{% block head %}
	
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}"



{% endblock %}

{% block content %}
    


		<h1> 
			Welcome {{ user.username }} !!! 
			<br /> 
			
		
			<br /> 
		</h1>
    
		<button type="button" onclick="window.location.href='/courier/about/' ">Request Courier</button>
		
		<br/>
		<br/>

		<button type="button" onclick="window.location.href='/tickets/view_all' ">Travel</button>

		<br/>
		<br/>
		<button type="button" onclick="window.location.href='/courier/delete_courier' ">View Couriers</button>

		<br/>
		<br/>
		

		<button type="button" onclick="window.location.href='/logout/' ">Logout</button>
{% endblock %}
